/*header styles*/
.navigation {
	display: inline-block;
	margin-left: 40px;
}
.nav-item {
	display: inline-block;
}
.header-bg {
	background: grey;
	padding: 20px;
	position: fixed;
	top: 0;
	right:  0;
	width: 100%;
	z-index: 10;
}
.section-after-header {
	margin-top: 65px;
}
.nav-a:hover {
	color:red;
}

/*chat icon styles*/
.chat-icon-img {
	height: 100px;
}
.chat-icon {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

/*position absolute & relative example*/
.wraper-block {
	width: 400px;
	height: 400px;
	background: yellow;
	position: relative;
}
.block {
	width: 100px;
	height: 100px;
	background: blue;
	position: absolute;
	right: 50px;
	bottom: 50px;
	z-index: 6;
}
.block2 {
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	right: 80px;
	bottom: 80px;
	z-index: 5;
}
.test {
	position: absolute;
	left: 0;
	bottom: 0;
}

/*image example*/
.text-image {
	position: absolute;
	top: 100px;
	right: 80px;
	color: red;
	font-size: 35px;
}
.image-wraper {
	position: relative;
	display: inline-block;
}

/*center*/
.wraper {
	width: 400px;
	height: 400px;
	background: yellow;
	position: relative;

	/* transition-property: all;
	transition-duration: 5s;
	transition-timing-function: linear; */
	/* transition-delay: 2s; */
	transition: all 5s linear 2s;
}
.wraper-center {
	width: 150px;
	height: 150px;
	background: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	/* transition-property: all;
	transition-duration: .2s; */
	transition: all .2s;
}

/* hover effects */
.wraper:hover {
	background-color: blue;
}
.wraper-center:hover {
	background-color: brown;
	transform:translate(-50%, -50%) rotate(0deg);
}

/* .wraper:hover .wraper-center {
	background-color: chartreuse;
} */
/*car animation*/
.car-img {
	width: 300px;
	animation: carnewanimation 5s infinite 2s alternate;
/*	animation-name: carmove;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
	animation-direction: alternate;*/
	/* position: absolute; */
}
.car-block {
	/* position: relative; */
}

/*keyframes animation*/
/* @keyframes carmove {
	from{left: 0;}
	to {left: 1000px;}
} */


@keyframes carnewanimation {
	0% {transform: translateX(0);}
	20% {transform: translateX(200px);}
	50% {transform: translateX(400px);}
	75% {transform: translateX(600px);}
	100% {transform: translateX(800px);}
}



.image-test {
	width: 1170px;
	height: 400px;
	object-fit: contain;
}

/* backgroudn image styles */
.bg-image {
	background-image: url('../images/photographer.jpg');
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}